html,
body,
#__next {
	min-height: 100vh;
}

#__next {
	display: flex;
}

#nprogress .bar {
	background: black;
	z-index: 9999;
}

html[data-theme="dark"] #nprogress .bar {
	background: #718096;
}

#nprogress .spinner,
#nprogress .peg {
	display: none;
}

svg path {
	stroke-width: 1.75 !important;
}
